.container {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}   

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title__text {
    font-size: 2rem;
}

.icon__disabled {
    width: 40px;
}

.icon {
    opacity: .3;
    transition: .5s ease-in-out;
    width: 40px;
}

.icon:hover {
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}