.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.message__requestCont {
    display: flex;
    justify-content: center;
}

.message__requestBtn {
    border: 1px gray solid;
    margin: 5px;
}

.message__requestBtn:hover {
    background-color: azure;
    transition: 0.4s;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.message__answerFalse {
    display: flex;
    flex-direction: column;
    background-color: rgb(149, 59, 59);
    width: 70%;
    justify-content: center;
    border: 1px solid rgb(166, 81, 81);
    border-radius: 10px;
    opacity: 0.6;
    margin: 5px;
    font-size: 1.3rem;
    text-align: center;
}

.message__answerTrue {
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 156, 64);
    width: 70%;
    justify-content: center;
    border: 1px solid rgb(65, 156, 64);
    border-radius: 10px;
    opacity: 0.6;
    margin: 5px;
    font-size: 1.3rem;
    text-align: center;
}