.user__basicInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    padding: 5px 0;
  }
  
  .user__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }