* {
    color: white;
}

.card {
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

/* .upBar {
    background-color: #1049A9;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.onechat {
    display: flex;
    flex-grow: 1;
    min-height: 93vh;
}

/* .logo {
    position: absolute;
    top: 0;
    left: 2%;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
}*/

/* .username__container {
    max-width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username {
    font-size: 1.4rem;
} */