.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    position: relative;
    border-radius: 40px;
    font-size: 1.2rem;
    width: 97%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: inset 5px 5px 15px rgba(133, 132, 132, 0.15),
                inset -5px -5px 15px rgba(255, 255, 255, 0.15),
                15px 15px 15px rgba(133, 132, 132, 0.15),
                -5px -5px 15px rgba(255, 255, 255, 0.15);
    margin: 15px 0;
}

.card::before {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: transparent;
    border-radius: 35px;
}

.about__container {
    display: flex;
}

.icon {
    opacity: .3;
    transition: .5s ease-in-out;
    width: 40px;
}

.icon:hover {
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}